<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kst.repositories.UserRepo">
    <resultMap type="com.kst.entities.User" id="UserMap">
        <id column="user_id" property="user_id"/>
        <result column="username" property="userName"/>
        <result column="password" property="password"/>
        <result column="token" property="token"/>
        <result column="nickname" property="nickName"/>
    </resultMap>


   <select id="getUser"    resultType="com.kst.entities.User">
      select * from user where username =#{userName}  and password=#{password}

   </select>
</mapper>