@font-face {
    /*方正正纤黑简体 标题*/
    font-family: 'FZZXHJW';
    src: url('../fonts/FZZXHJW.TTF')
    /*url('Sansation_Light.eot'); !* IE9+ *!*/
}

@font-face {
    /*方正正黑简体*/
    font-family: 'FZZHJW';
    src: url('../fonts/FZZHJW.TTF')
    /*url('Sansation_Light.eot'); !* IE9+ *!*/
}

@font-face {
    /*等线 正文*/
    font-family: 'DENG';
    src: url('../fonts/DENG.TTF')
}

@font-face {
    /*等线light*/
    font-family: 'DENGL';
    src: url('../fonts/DENGL.TTF')
}

@font-face {
    /*Frutiger 英文标题*/
    font-family: 'Frutiger';
    src: url('../fonts/Frutiger.TTF')
}

@font-face {
    /*MinionPro-Regular  英文正文*/
    font-family: 'MinionPro-Regular';
    src: url('../fonts/MinionPro-Regular.otf')
}
/*媒体查询*/
@media screen and (min-width: 1696px){
    section .content_box {
        max-width: 1400px;
        margin: 30px auto;
    }
    .carousel li {
        min-height: 755px;
    }
    .part1_img img {
        width: 100%;
        display: block;
        transition: .5s;
        height: 248px;
        background: #dcdcdc;
    }
}

@media screen and (max-width: 1696px) {
    .submit_pop {
        transform: scale(0.8);
        -webkit-transform: scale(0.8);
        -o-transform: scale(0.8);
        -moz-transform: scale(0.8);
        margin: -302px 0 0 -350px;
    }

    .banner_text {
        transform: scale(0.9);
        -webkit-transform: scale(0.9);
        -o-transform: scale(0.9);
        -moz-transform: scale(0.9);
    }

    section {
        background: none;
    }

    .carousel-content {
        min-height: 575px;
    }

    .carousel li {
        min-height: 575px;
    }

    .dddd {
        min-height: 755px;
    }
}
@media screen and (max-width: 1366px){
    .tab_list li a{
        padding:0 15px;
        font-size:18px;
    }
}