@font-face {
    /*方正正纤黑简体 标题*/
    font-family: 'FZZXHJW';
    src: url('../fonts/FZZXHJW.TTF')
    /*url('Sansation_Light.eot'); !* IE9+ *!*/
}

@font-face {
    /*方正正黑简体*/
    font-family: 'FZZHJW';
    src: url('../fonts/FZZHJW.TTF')
    /*url('Sansation_Light.eot'); !* IE9+ *!*/
}

@font-face {
    /*等线 正文*/
    font-family: 'DENG';
    src: url('../fonts/DENG.TTF')
}

@font-face {
    /*等线light*/
    font-family: 'DENGL';
    src: url('../fonts/DENGL.TTF')
}

@font-face {
    /*Frutiger 英文标题*/
    font-family: 'Frutiger';
    src: url('../fonts/Frutiger.TTF')
}

@font-face {
    /*MinionPro-Regular  英文正文*/
    font-family: 'MinionPro-Regular';
    src: url('../fonts/MinionPro-Regular.otf')
}

/*媒体查询*/
@media screen and (min-width: 1696px) {
    section .content_box {
        max-width: 1170px;
        margin: 30px auto;
    }

    .carousel li {
        min-height: 755px;
    }

    .part1_img img {
        width: 100%;
        display: block;
        transition: .5s;
        height: 248px;
        background: #dcdcdc;
    }
}

@media screen and (max-width: 1696px) {
    .submit_pop {
        transform: scale(0.8);
        -webkit-transform: scale(0.8);
        -o-transform: scale(0.8);
        -moz-transform: scale(0.8);
        margin: -302px 0 0 -350px;
    }

    .banner_text {
        transform: scale(0.9);
        -webkit-transform: scale(0.9);
        -o-transform: scale(0.9);
        -moz-transform: scale(0.9);
    }

    section {
        background: none;
    }

    .carousel-content {
        min-height: 575px;
    }

    .carousel li {
        min-height: 575px;
    }

    .dddd {
        min-height: 755px;
    }
}

@media screen and (max-width: 1366px) {
    header {
        height: 80px;
    }
    .new_header{
        height: 80px;
        line-height: 80px;
    }
    .newLi {
       height: 640px;
    }
    .index_part h1 {
        margin: 116px 0px 38px;
    }
    .index_part h1{
        font-size: 18px;
    }
    .part1_font h4,.hot_topic p {
        font-size: 16px;
    }
    .part1_font .P_des {
        font-size: 14px;
    }
    .part3_font h4 {
        font-size: 16px;
    }
    .part3_font p{
        font-size: 14px;
    }
    .hot_topic p:last-child {
        font-size: 14px;
        line-height: 28px;
    }
    .banner_text {
        transform: scale(0.8);
        -webkit-transform: scale(0.8);
        -o-transform: scale(0.8);
        -moz-transform: scale(0.8);
        left: 90px;
    }
    .culture_box .hight_third:nth-child(n+4), .culture_box .hight_third:nth-child(n+5), .culture_box .hight_third:nth-child(n+6) {
        margin-top: 55px;
    }
    .tab_list li a {
        padding: 0 26px;
        font-size: 14px;
    }
    .logo{
        width: 116px;
        height: 116px;
    }

    section .content_box {
        max-width: 830px;
        margin: 0px auto 30px;
    }

    section .minContent_box {
        max-width: 1000px;
    }

    .part1_img img {
        height: 197px;
    }

    .hot_topic .topic_hot img {
        height: 330px;
    }

    aside {
        width: 190px;
    }

    aside .aside_list h4 {
        font-size: 16px;
    }

    aside .aside_list {
        font-size: 16px;
    }

    .news_con {
        width: 640px;
        /*overflow: auto;*/
        font-size: 16px;
        line-height: 34px;
    }

    .exhibition_style p span {
        font-size: 15px !important;
        line-height: 30px !important;
    }
    .exhibition_style p strong {
        font-size: 15px !important;
        font-weight: 600;
    }
    .exhibition_style p strong,  .exhibition_style h4 strong{
        font-size: 15px !important;
        font-weight: 600;
    }

    .ul_disc li h5 {
        font-size: 15px;
        font-weight: 600;
        line-height: 30px
    }
    .exhibition_style h4{
        margin:40px 0 20px!important;
        font-size: 16px !important;
    }
    .exhibition_style h4 span {
        font-size: 16px !important;
        font-weight: 600;
        /*line-height: 38px!important;*/
    }
    .exhibition_style h3 span {
        font-size: 18px!important;
    }

    .travel_box .left_img {
        width: 320px;
        height: 200px;
        margin-right: 30px;
    }

    .travel_box li h4 {
        font-size: 16px;
        margin-top: 0;
    }
    .travel_detail .travel_img img {
        height: 250px;
    }

    .right_font p {
        margin-top: 20px;
        font-size: 15px;
        line-height: 28px;
        /*min-height: 110px;*/
    }

    .right_font span {
        margin-top: 15px;
        display: inline-block;
        line-height: 23px;
    }

    .line_ellipsis {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        white-space: normal;
    }

    .travel_img img {
        height: 252px;
    }

    .p_font2 {
        font-size: 15px;
        line-height: 30px;
    }

    .pre_img {
        font-size: 16px;
    }

    .pre_icon {
        font-size: 16px;
        font-weight: 600;
        padding-left: 50px;
    }

    .pre_icon::before {
        content: '';
        background: url(../img/icon1.png) no-repeat;
        position: absolute;
        top: 7px;
        background-size: 100% 100%;
        left: 0px;
        width: 38px;
        height: 17px;
    }
    .tit_page{
        font-size: 18px;
        margin-bottom: 20px;
    }

    footer .footer_about a {
        font-size: 16px;
        margin: 0px 25px 20px;
    }

    .contact_us p {
        margin-bottom: 0px;
    }

    .contact_us h4 {
        margin-bottom: 25px;
    }

    .hr_dashed {
        margin: 20px 0;
    }

    .new_margin {
        margin: 40px 0 20px;
    }

    .contact_us a {
        padding-top: 20px;
        /*margin-bottom: 20px;*/
    }

    footer .footer_about {
        margin-bottom: 30px;
        margin-top: 20px;
    }

    .second_part img {
        margin-bottom: 20px;
    }

    /*旅游*/
    .travel_detail li p {
        margin-bottom: 20px;
    }

    .travel_detail li h4 {
        margin: 40px 0 20px;
    }

    /*.travel_detail + li {*/
        /*margin-top: 0px;*/
    /*}*/

    .travel_detail li img {
        margin-bottom: 25px;
    }

    .classify_disc li {
        list-style-type: none;
        margin-bottom: 20px;
    }
    .pre_img img {
        width: 33px;
        height: 15px;
        vertical-align: middle;
        margin-right: 10px;
    }
    .e_font h4{
        margin: 0px 0 20px;
    }

    .e_font h5 {
        font-size: 16px;
        margin: 30px 0 15px;
    }

    .e_font p {
        font-size: 15px;
        line-height: 30px;
        margin-bottom: 15px;
    }
    .aside_style{
        position: fixed;
        top: 100px;
    }
    .exhibition_style h4 span .cloud {
        width: 33px !important;
        height: 15px !important;
        margin-right: 5px;
    }
    .exhibition_style h4 {
        padding-left: 48px;
        margin: 30px 0 20px
    }
    .exhibition_style h4::before {
        content: '';
        background: url(../img/icon2.png) no-repeat;
        position: absolute;
        top: 5px;
        background-size: 100% 100%;
        left: 0px;
        width: 33px;
        height: 15px;
    }
    .city_height a:first-child {
        height: 250px;
    }
}

