/*2018/3/30*/
header {
    position: relative;
    width: 100%;
    height: 100px;
    line-height: 100px;
    padding: 0 172px;
    border-bottom: 1px solid #dcdcdc;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #555;
    font-family: 'FZZXHJW';
}

header .header_img {
    position: absolute;
    z-index: 5;
}

.ad_img {
    width: 100%;
    height: 450px;
}

.logo {
    top: 0px;
    left: 20px;
    width: 150px;
    height: 150px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e51227;
    padding: 20px;
    position: absolute;
    z-index: 5;
}

header .logo img {
    width: 100%;
}

header .slogan img {
    /*width: 150px;*/
    /*height: 46px;*/
    /*top: 50%;*/
    /*margin-top: -23px;*/
    /*position: absolute;*/
    /*right: 20px;*/
    /*z-index: 5;*/
    width: 190px;
    height: 63px;
    top: 0;
    position: absolute;
    right: 0px;
    z-index: 5;
}

.language_key {
    position: absolute;
    right: 49px;
    top: 53px;
    font-size: 16px;
    height: 35px;
    line-height: 35px;
    z-index: 6;
    cursor: pointer;
    font-family: 'Microsoft YaHei', '微软雅黑';
}

.language_key:hover + .language_e {
    display: block;
}
.language_key:active + .language_e  {
    display: block;
}
.language_e {
    position: absolute;
    right: 30px;
    top: 87px;
    font-size: 16px;
    z-index: 7;
    background: #dcdcdcd9;
    height: 35px;
    line-height: 35px;
    width:80px;;
    cursor: pointer;
    display: none;

}

header .sec_tab {
}

.tab_list li {
    float: left;
    list-style-type: none;
}

.tab_list li a {
    padding: 0 25px;
    display: block;
    color: #555;
    text-decoration: none;
}

.tab_list li a:hover {
    color: #e51227;
    /*font-size:20px;*/
    /*transition: 1s;*/
}

.tab_list li .active {
    color: #e51227;
}

section {
    background: url('./../img/bg.png');
    background-repeat: repeat-y;
    width: 100%;
    /*height: 613px;*/
    padding-bottom: 10px;
}

/*section start*/
.banner_box {
    position: relative;
    z-index: 3;
}

.banner_text {
    position: absolute;
    bottom: 21%;
    left: 155px;
    width: 530px;
    max-width: 530px;
    min-height: 155px;
    padding: 25px 40px;
    color: #fff;
    border-left: 2px solid #e51227;
    background: rgba(0, 0, 0, 0.3);
}

.border_purple {
    border-color: #8816a1
}

.border_blue {
    border-color: #3bb3ff;
}

.border-cyan {
    border-color: #5ec6c5;
}

.border-yellow {
    border-color: #ffc000;
}

.banner_text .b_con {
    line-height: 30px;
    margin-top: 20px;
    font-size: 18px;
}

section .content_box {
    max-width: 1170px;
    margin: 30px auto;
    min-height: 400px;
}

section .content_box h4 {
    font-family: 'FZZXHJW';
}

.index_part {
    margin-top: 30px;
}

.index_part h1 {
    position: relative;
    font-size: 24px;
    padding-left: 62px;
    margin: 60px 0px 25px;
    font-family: 'FZZXHJW';
}

.index_part h1::before {
    content: '';
    background: url(../img/icon1.png) no-repeat;
    position: absolute;
    top: 0px;
    background-size: 100% 100%;
    left: -16px;
    width: 56px;
    height: 23px;
    font-family: 'FZZXHJW';
}

/*.culture_box li a:hover {*/
/*text-decoration: none;*/
/*}*/

.carousel_news {
    position: relative;
    overflow: hidden;
    min-height: 374px;
}

.part3_carousel {
    overflow: hidden;
    position: absolute;
}

.hot_topic {
    border: 4px solid #eeeeee;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
    background: #f6f6f6;
    float: left;
    width: 100%;
}

.hot_topic .topic_hot {
    flex: 1;
    text-align: center;
}

.hot_topic .topic_hot img {
    display: block;
    width: 100%;
}

.hot_topic p {
    font-size: 24px;
    margin-bottom: 20px;
    font-family: 'FZZXHJW';
    color: #000;
}

.hot_topic p:last-child {
    font-size: 18px;
}

.part1_img {
    border: 4px solid #ffffff;
    width: 100%;
    height: auto;
    margin: 0;
    overflow: hidden;
    display: inline-block;
    transition: .5s;
}

.part1_img:hover {
    border: 4px solid #e7e7e7;
}

.culture_box li:hover > .part1_img, .news_parts li:hover > .part1_img {
    border: 4px solid #e7e7e7;
}

.culture_box .hight_third:nth-child(n+4), .culture_box .hight_third:nth-child(n+5), .culture_box .hight_third:nth-child(n+6) {
    margin-top: 30px;
}

.part1_img img {
    width: 100%;
    display: block;
    transition: .5s;
    min-height: 223px;
    background: #dcdcdc;
}

.part1_img img:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    transition: .5s;
}

.part1_font {
    margin: 20px 0px 0px 0px;
    display: block;
    font-size: 18px;
    text-decoration: none;
    color: #575757;
}

.part1_font:hover {
    text-decoration: none;
    color: #000;
}

.part1_font h4 {
    display: inline-block;
    vertical-align: middle;
    /*vertical-align: baseline;*/
    font-size: 22px;
    color: #000;
    margin: 0 20px;
}

.part1_font h4:hover {
    color: #e51227;
}

.part1_font .rectangle {
    width: 8px;
    height: 24px;
    margin-top: -4px;
    margin-left: 4px;
    display: inline-block;
    vertical-align: middle;
}

.part1_font span:last-child {
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 215px;
    display: inline-block;
}

.part3_font {
    margin: 20px 0px 0px 0px;
    display: block;
    cursor: pointer;
}

.part3_font:hover {
    color: #e51227;
}

.part3_font h4 {
    font-size: 24px;
    color: #000;
}

.part3_font h4:hover {
    color: #e51227;
}

.part3_font p {
    font-size: 20px;
    color: #777;
    margin-top: 10px;
}

.part3_font p:hover {
    color: #000;
}

.cooperation_partner .partner_first {
    width: 230px;
    height: 190px;
    line-height: 190px;
    display: block;
    float: left;
}

.cooperation_partner ul {
    overflow: hidden;
}

.cooperation_partner ul li {
    float: left;
    width: 25%;
    height: 90px;
    line-height: 90px;
    /*border: 1px solid red;*/
    box-sizing: border-box;
    vertical-align: middle;
    text-align: center;
}

.cooperation_partner ul li img {
    /*float: right;*/
}

/*新闻详情*/
.detail_con {
    padding-top: 60px;
}

aside {
    float: left;
    width: 270px;
}

aside .aside_list {
    font-size: 22px;
}

aside .aside_list h4 {
    margin-bottom: 20px;
    font-size: 22px;
}

aside .tit_red h4:hover {
    color: #e51227;
    cursor: pointer;
}

aside .aside_list a {
    margin-bottom: 20px;
    margin-left: 30px;
    text-decoration: none;
    display: block;
    color: #000;
    cursor: pointer;
}

aside .aside_list a:hover {
    color: #e51227;
}

aside .aside_list .active {
    color: #e51227;
}

/*aside .aside_list h4::before {*/
/*content: '';*/
/*height: 23px;*/
/*width: 2px;*/
/*background: #aaaaaa;*/
/*display: inline-block;*/
/*vertical-align: top;*/
/*margin-top: -1px;*/
/*margin-right: 10px;*/
/*}*/

.news_con {
    overflow: auto;
    font-size: 18px;
    line-height: 42px;
}
.news_conList p{
    margin-top: 30px;
}
.news_conList img{
    /*margin-top: 40px;*/
    width: 100%;
}
.news_date{
    padding-left:65px;
    margin-bottom: 65px;
}
.news_detail p {
    margin-bottom: 50px;
}

.news_detail .con_img {
    margin-bottom: 50px;
    width: 100%;
}

.news_detail ul {
    padding-left: 20px;
}

.news_detail ul li {
    list-style-type: disc;
}

.popup_font {
    margin: 50px 0;
    position: relative;
}

.popup_font a {
    color: #2b47c3;
    border-bottom: 1px solid #2b47c3;
}

.popup_font a:hover {
    color: #2b47c3;
    text-decoration: none;
    opacity: .8;
}

.popup_font a:active {
    color: #2b47c3;
    text-decoration: none;
    opacity: .8;
}

/*文化之旅*/
.submit_pop {
    width: 698px;
    min-height: 530px;
    border: 1px solid #c9c9c9;
    background: #fff;
    padding: 30px;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 8;
    margin: -285px 0 0 -350px;
}

.submit_pop form {
    margin-bottom: 20px;

}

.submit_pop h4 {
    font-size: 22px;
}

.submit_pop .p_con {
    width: 86%;
    margin: 30px auto;
}

.submit_pop .p_con p {
    margin-bottom: 20px;
}

.submit_pop .p_Travel {
    width: 75%;
}

.submit_pop .img_code {
    width: 224px;
    height: 224px;
    margin: 50px auto;
}

.submit_pop .p_con input, .submit_pop .p_con textarea {
    width: 100%;
    border: 1px solid #e7e7e7;
    font-size: 18px;
    color: #777777;
    padding-left: 15px;
    margin-top: 20px;
    font-family: 'DENGL';
}

.submit_pop .p_con input {
    height: 45px;
    line-height: 45px;
}

.submit_pop .p_con textarea {
    height: 80px;
    line-height: 30px;
    padding-top: 5px;
}

.submit_btn {
    font-size: 20px;
    width: 200px;
    height: 40px;
    border-radius: 4px;
    color: #fff;
    background: #e51227;
    margin: 10px auto;
}

.reveal_bg {
    position: fixed;
    height: 100%;
    width: 100%;
    background: #000;
    background: rgba(0, 0, 0, .8);
    z-index: 5;
    display: none;
    top: 0;
    left: 0;
}

.new_purple {
    background: #8816a1;
}

.new_blue {
    background: #3bb3ff;
}

.c_red {
    background: #ff0000;
}

.c_orange {
    background: #ffc600;
}

.c_purple {
    background: #8816a1;
}

.c_cyan {
    background: #5ec6c5;
}

.c_green {
    background: #91e31c;
}

.c_blue {
    background: #3bb3ff;
}

.c_yellow {
    background: #ffc000;
}

.c_span0 {
    background: #ff0000;
}

.c_span1 {
    background: #ffc600;
}

.c_span2 {
    background: #8816a1;
}

.c_span3 {
    background: #5ec6c5;
}

.c_span4 {
    background: #91e31c;
}

.c_span5 {
    background: #3bb3ff;
}

.c_span6 {
    background: #ffc000;
}

.submit_btn:hover, .submit_btn:active, .submit_btn:focus {
    /*background: rgba(229, 18, 39, 0.85);*/
    opacity: .85;
    outline: none;
}

.submit_btn:active {
    /*background: rgba(229, 18, 39, 0.9);*/
    opacity: .9;
}

.p_contact {
    display: flex;
    -webkit-display: flex;
}

.p_contact p {
    flex: 1;
    font-size: 18px;
    line-height: 30px;
    padding-right: 80px;
    margin-top: 30px;
}

.p_contact img {
    width: 200px;
    height: 200px;
}

.contact_list {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.contact_list li {
    list-style-type: disc;
    line-height: 35px;
}

/*.travel_box*/
.travel_box .left_img {
    width: 450px;
    height: 280px;
    background: #efefef;
    float: left;
    margin-right: 40px;
}

.travel_box li {
    padding-bottom: 50px;
    border-bottom: 1px solid #dcdcdc;
    margin-bottom: 55px;
}

.travel_box li a {
    color: #000;
    display: block;
}

.travel_box li:last-child {
    border-bottom: none;
}

.travel_box li h4 {
    font-size: 22px;
    margin-top: 5px;
}

.travel_box .right_font {
    overflow: auto;
}

.travel_box .left_img img, .travel_box .t_detail img {
    width: 100%;
    display: block;
}

.travel_box .left_img img {
    width: 100%;
    height: 100%;
}

.travel_box .t_detail h4 {
    margin-bottom: 40px;
}

/*隐私说明*/
.p_date {
    float: right;
    font-size: 19px;
    font-family: 'DENGL';

}

/*footer start*/
footer {
    border-top: 1px solid #d2d2d2;
    text-align: center;
    font-size: 18px;
    line-height: 36px;
    color: #000;
    padding: 50px 0 20px 0;
    font-family: 'Frutiger';
}

footer .footer_about {
    margin-bottom: 30px;

}

footer .footer_about a {
    /*text-decoration: underline;*/
    /*padding: 0px 35px;*/
    color: #000;
    font-size: 22px;
    margin: 0px 25px 20px;
    font-family: 'FZZXHJW';
    border-bottom: 1px solid #000;
}

footer .footer_about a:hover {
    color: #e51227;
    border-bottom: 1px solid #e51227;
    text-decoration: none;
    opacity: .8;
}

footer .footer_about a:active {
    color: #e51227;
    border-bottom: 1px solid #e51227;
    text-decoration: none;
    opacity: .8;
}

.chat_h {
    display: inline-block;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
    /*opacity: .6;*/
    cursor: pointer;

}

.chat_h:hover {
    -webkit-filter: grayscale(0);
    -moz-filter: grayscale(0);
    -ms-filter: grayscale(0);
    -o-filter: grayscale(0);
    filter: grayscale(0);
    filter: none;
    /*opacity: 1;*/
}

.chat_h:hover + .add_code {
    display: block;
}

.box_code {
    position: relative;
    width: 540px;
    margin: 0 auto;
}

.add_code {
    position: absolute;
    right: 18px;
    bottom: 50px;
    width: 200px;
    min-height: 200px;
    background: #fff;
    border: 1px solid #dcdcdc;
    padding: 25px 20px;
    text-align: center;
    display: none;
}

.add_code img {
    width: 110px;
}

.add_code p {
    font-size: 16px;
    line-height: 26px;
    margin-top: 10px;
    text-align: left;
}

/*定义css变量*/
/*:root {*/
/*--mywidth: 1920px;*/
/*--myheight: 750px;*/
/*}*/

.carousel-content {
    /*width: var(--mywidth);*/
    /*height: var(--myheight);*/
    width: 100%;
    min-height: 755px;
    position: relative;
    overflow: hidden;
}

.carousel {
    /*height: var(--myheight);*/
    /*height: 750px;*/
    /*min-height: 575px;*/
    width: 100%;
    overflow: hidden;
    position: absolute;
}

.carousel li {
    float: left;
    /*background: url(./../img/photo_a1.jpg) no-repeat;*/
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    max-height: 755px;
    cursor: pointer;
    position: relative;
    /*-webkit-animation: scaleImg 3s linear forwards;*/
    /*animation: scaleImg 3s linear forwards;*/

}

@-webkit-keyframes scaleImg {
    from {
        -webkit-transform: scale(1);
    }
    to {
        -webkit-transform: scale(1.1);
    }
}

@-moz-keyframes scaleImg {
    from {
        -moz-transform: scale(1);
    }
    to {
        -moz-transform: scale(1.1);
    }
}

@-o-keyframes scaleImg {
    from {
        -o-transform: scale(1);
    }
    to {
        -o-transform: scale(1.1);
    }
}

@keyframes scaleImg {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

/*.dddd {*/
/*float: left;*/
/*background: url(./../img/photo_a1.jpg) no-repeat;*/
/*background-size: 100% 100%;*/
/*width: 100%;*/
/*min-height: 755px;*/
/*}*/

.carousel li, .carousel li img {
    /*width: 100%;*/
    /*height: 575px;*/
    /*width: var(--mywidth);*/
    /*height: var(--myheight);*/
}
.banner_a{
    display:block ;
    width: 100%;
    height: 100vh;
}
.img-index {
    position: absolute;
    bottom: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.img-index li {
    float: left;
    width: 14px;
    height: 14px;
    line-height: 14px;
    text-align: center;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    font-size: 0px;
    cursor: pointer;
    margin: 0 10px;
    color: #fff;
}

.img-index li.js_index, .img-index li:hover {
    background-color: rgba(245, 245, 245, 0.7);
}

.carousel-prev, .carousel-next {
    position: absolute;
    display: inline-block;
    top: 45%;
    cursor: pointer;
    display: none;
}

.carousel-prev {
    left: 20px;
}

.carousel-next {
    right: 20px;
}

.carousel .panels > a {
    float: left;
    width: 100%;
    height: 750px;
}

.carousel img {
    width: 100%;
    height: 100%;

}

/*媒体查询*/
@media screen and (min-width: 1696px){
    section .content_box {
        max-width: 1400px;
        margin: 30px auto;
    }
    .carousel li {
        min-height: 755px;
    }
}

@media screen and (max-width: 1696px) {
    .submit_pop {
        transform: scale(0.8);
        -webkit-transform: scale(0.8);
        -o-transform: scale(0.8);
        -moz-transform: scale(0.8);
        margin: -302px 0 0 -350px;
    }

    .banner_text {
        transform: scale(0.9);
        -webkit-transform: scale(0.9);
        -o-transform: scale(0.9);
        -moz-transform: scale(0.9);
    }

    section {
        background: none;
    }

    .carousel-content {
        min-height: 575px;
    }

    .carousel li {
        min-height: 575px;
    }

    .dddd {
        min-height: 755px;
    }
}
@media screen and (max-width: 1366px){
    .tab_list li a{
        padding:0 15px;
        font-size:18px;
    }
}


.hot-swiper-position {
    bottom: 14px;
    width: 50% !important;
    left: 50% !important;
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    width: 14px;
    height: 14px;
    margin: 0 10px 10px;
}
.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet:focus {
    outline: none;
}
.swiper-pagination-bullet-active {
    opacity: 1;
    background: #e51227;
}
